#tag-list {
  display: flex;
  flex-wrap: wrap;
}
#tag-list li {
  display: block;
  width: 7em;
  position: relative;
  margin: 0.5em 1em 0 0;
  background: font-2;
  transition: all 0.5s;
  box-shadow: paper-shadow;
  flex-shrink: 2;
}
#tag-list li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: 0;
  color: #fff;
}
#tag-list li:hover {
  background: hlt-1;
  width: 8em;
}
#tag-list li:hover a {
  color: #fff;
  text-shadow: none;
}
ul .count::before {
  content: '✦ ';
}
