.article-gallery-img {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  transition: all 0.5s;
}
.article-gallery-img a {
  border-bottom: 0;
  line-height: 0;
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;
}
.article-gallery-img a img {
  opacity: 0.8;
  object-fit: cover;
}
.article-gallery-img span {
  display: block;
  flex-shrink: 0;
  line-height: 1.5em;
  font-size: 14px;
  padding: 6px 10px;
  background: rgba(0,0,0,0.2);
  color: #000;
  transition: all 0.5s;
}
.article-gallery-img a:hover img {
  opacity: 1;
}
.article-gallery-img:hover span {
  background: #000;
  color: #fff;
}
.article-gallery-img span::before {
  content: ' ■ ';
}
.img-inline {
  margin: 0;
}
.img-left {
  margin: 0 2em 1em 0;
  max-width: 40%;
}
.img-right {
  margin: 0 0 1em 2em;
  max-width: 40%;
}
.img-left img,
.img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-left a,
.img-right a {
  padding: 7px;
  border: 2px solid hlt-2;
}
.img-left {
  float: left;
}
.img-right {
  float: right;
}
.img-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.img-box {
  display: flex;
  line-height: 0;
  margin: 1em;
  max-width: 816px;
}
.img-box .img-column {
  max-width: 50%;
}
.img-box .x11 {
  width: 400px;
  height: 392px;
  object-fit: cover;
  border-radius: 1em;
  max-width: 100%;
  box-shadow: init-shadow;
}
.img-box .x12 {
  width: 400px;
  height: 800px;
  object-fit: cover;
  border-radius: 1em;
  box-shadow: init-shadow;
}
.img-box .dot {
  background: rgba(0,0,0,0.2);
}
.img-box .note {
  border-top: 1px solid l-gray;
  border-bottom: 1px solid #808080;
  line-height: 2em;
  background: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1em;
  box-sizing: border-box;
  margin-right: 1em;
  max-width: calc(100% - 16px);
}
.img-box .note >ul >li::before {
  content: '▞';
  margin-right: 0.5em;
  color: #000;
  margin-left: -1.5em;
}
.img-box .note >ul >li >ul >li::before {
  content: '▚';
  margin-right: 0.5em;
  color: #000;
  margin-left: -1.5em;
}
.img-box .note.null {
  background: rgba(0,0,0,0.2);
}
.gallery {
  height: 45vh;
  margin-bottom: 1em;
}
.gallery ul {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  height: 100%;
  padding: 0;
  list-style-type: none;
}
.gallery .article-gallery-img,
.gallery .article-gallery-img a img {
  height: 100%;
  width: 100%;
}
.gallery ul li::before {
  content: '';
  margin: 0;
}
.gallery ul li {
  flex-shrink: 1.1;
  transition: all 0.5s;
  min-width: 0;
}
.gallery ul li:hover {
  flex-shrink: 1;
  background-color: rgba(101,147,148,0.1);
}
.img-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.img-text p {
  margin: 0 2em;
  display: inline-block;
  flex-basis: 50%;
}
.card-entry .img-text p {
  display: none;
}
.article-entry .img-text ul {
  margin-top: 2em;
  margin-bottom: 2em;
  flex-grow: 1;
}
.img-text p .img-left {
  max-width: 100%;
  margin: 0;
  max-height: 15em;
}
@media mq-mobile {
  .img-text p {
    flex-basis: 100%;
  }
}
