h2 + .post-card-body {
  margin-top: 2em;
}
.post-card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.post-card-item {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 50%;
  box-shadow: border-box;
  min-width: 20em;
  position: relative;
  max-width: 100%;
  padding: 0.5em;
}
.post-card-item.is-note {
  flex-shrink: 2;
  min-width: 18em;
  flex-basis: 27%;
  max-width: 100%;
  padding-top: 1.2em;
  padding-bottom: 1em;
  transform: rotate(-2deg);
}
.post-card-item.is-note ul {
  color: font-1;
}
.post-card-item.is-note .info {
  flex-direction: column;
  align-items: flex-end;
}
.post-card-item.is-note .info a,
.post-card-item.is-note .info .article-category-list-item::before {
  color: hlt-1;
}
.post-card-item.is-note .info a:hover {
  text-shadow: text-light;
}
.post-card-item.is-note .info .article-category-list-item {
  margin-right: 0;
}
.post-card-item.is-note .card-entry {
  padding-bottom: 1em;
}
.post-card-item.with-cover {
  flex-shrink: 3;
  min-width: 10em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0 0.5em;
  flex-basis: 35%;
}
.post-card-item.with-cover a {
  width: 100%;
  height: 100%;
  display: block;
}
.post-card-item.with-cover a img {
  opacity: 0.7;
}
.post-card-item.with-cover a img:hover {
  opacity: 1;
}
.post-card-item .paper {
  background-color: rgba(217,223,222,0.3);
  box-shadow: paper-shadow;
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding: 2em;
}
.post-card-item .paper .card-entry {
  padding: 0 0 2em 0;
}
.post-card-item.is-note .paper {
  background-color: rgba(227,174,163,0.5);
  padding-top: 3em;
}
.post-card-item.is-note .paper .card-entry ul {
  padding-left: 1em;
  text-align: justify;
}
.post-card-item.is-note::before {
  content: '';
  position: absolute;
  width: 2em;
  height: 4.5em;
  top: -1em;
  left: 20%;
  background: hlt-1;
  box-shadow: paper-shadow;
  transform: rotate(-10deg);
  z-index: 1;
}
.post-card-item.with-cover .paper {
  background-color: rgba(188,221,215,0.5);
  padding: 0;
}
.post-card-item.with-cover::before {
  content: '';
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  top: 0.9em;
  right: -0.2em;
  background: #fff;
  box-shadow: paper-shadow;
  border-radius: 0 0 0 100%;
  z-index: 2;
  opacity: 0.9;
}
.post-card-item.with-cover::after {
  content: '';
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  bottom: 0.9em;
  left: -0.2em;
  background: font-3;
  box-shadow: paper-shadow;
  border-radius: 0 100% 0 0;
  opacity: 0.9;
}
.card-entry {
  padding: 0 0.7em 3em 0.7em;
}
.card-entry blockquote {
  margin-left: 0;
}
.card-entry img {
  display: none;
}
.card-more {
  width: 6em;
  height: 5em;
  right: 2em;
  bottom: -0.2em;
  position: absolute;
  background: hlt-3;
  box-shadow: paper-shadow;
}
.card-more span {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0.3em;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
  color: #fff;
  text-shadow: init-shadow;
}
.card-more:hover {
  background: back-a;
  bottom: -0.4em;
}
.paper .word-count {
  box-shadow: paper-shadow;
}
.paper .word-count.off {
  display: none;
}
.paper .word-count.vst {
  background: #fff;
  color: font-1;
  writing-mode: horizontal-tb;
  top: auto;
  right: auto;
  left: -0.5em;
  bottom: 2em;
  padding: 0 1em;
}
.paper .word-count.cmt {
  right: -2.5em;
  top: 2.5em;
  writing-mode: horizontal-tb;
  padding: 0 1em 0 2em;
  transform: rotate(15deg);
  opacity: 0.8;
}
.paper {
  position: relative;
}
.paper .post-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  opacity: 0.4;
  z-index: -1;
  mix-blend-mode: soft-light;
}
.paper .post-icon img {
  height: 20em;
  position: absolute;
  right: -6em;
  top: -8em;
}
.is-note .paper .post-icon img {
  left: -6em;
  bottom: -8em;
  right: auto;
  top: auto;
  transform: rotate(-15deg);
}
.is-note .paper .post-icon {
  opacity: 0.2;
}
.paper .post-cover img {
  display: block;
  max-height: 40vh;
  min-height: 30vh;
  width: 100%;
  object-fit: cover;
}
